body{
    font-family: "Nunito Sans", sans-serif;
}
.section1{
    background-image: url("/assets/img/imgsection1.jpg");
    background-position: 50% 50%;
}
.btnsection1{
    border: none;
    background: #43baff;
    text-decoration: none;
    padding: 20px 35px;
}
.parrafoS2{
    color: #6d6d6d;
    line-height: 1.875;
    font-weight: 400;
}
.iS2{
    color: #7e58c5;
}
.iS2:hover{
    color: #43baff;
}
.divSlider1{
    width: 407px;
    height: 293px;
}
.divSlider{
    width: 407px;
}
.imgSlider{
    height: 293px;
}
.imgSlider:hover{
    background: yellow;
}
.textoSlider{
    background: #262051;
    position: relative;
    top: -50px;
    left: 50px;
}
.textoSlider h5{
    color: #ffff;
    font-size: 22px;
}
.textoSlider p{
    color: #aeaacb;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}

@media (max-width: 800px) {
    .parrafoS2 {
        display: none;
    }
    .iS2, .titulo{
        width: 15%;
        font-size: 1.5rem;
        margin: 0 10px;
        justify-content: space-between;
    }
}
