<section class="container-fluid section1">
    <div class="p-5  mx-4">
        <h1 class="text-white fs-1 fw-bold pb-3">BIENVENIDOS</h1>
        <p class="text-white w-50 pb-4">Con nosotros puedes gestionar los recursos de tu empresa a través de
            nuestros
            dashbord s personalizados.</p>
        <a href="#" type="button" class="btnsection1 text-white">GESTIONAR RECURSOS</a>
    </div>
</section>
<section class="container-fluid">
    <div class="p-5  mx-4">
        <h1 class="fw-bold pb-3">NUESTRO SERVICIO</h1>
        <div class="row row-cols-2 g-2 g-lg-3">
            <div class="col-4">
                <div class="p-3 d-flex">
                    <i class="fa-solid fa-calendar-days fs-1 pe-4 iS2"></i>
                    <div>
                        <h3>Planificar</h3>
                        <p class="parrafoS2">Definir cómo estimar, adquirir, gestionar y utilizar los recursos
                            físicos y del personal de la empresa.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="p-3 d-flex">
                    <i class="fa-solid fa-diagram-project fs-1 pe-4 iS2"></i>
                    <div>
                        <h3>Estimación</h3>
                        <p class="parrafoS2">Este proceso identificará qué recursos y en qué cantidades son
                            necesarios para cada actividad.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="p-3 d-flex">
                    <i class="fa-brands fa-instalod fs-1 pe-4 iS2"></i>
                    <div>
                        <h3>Adquisición</h3>
                        <p class="parrafoS2">Es el proceso de obtención de los miembros del equipo, las
                            instalaciones y otros recursos necesarios para el proyecto.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="p-3 d-flex">
                    <i class="fa-solid fa-trowel-bricks fs-1 pe-4 iS2"></i>
                    <div>
                        <h3>Desarrollo</h3>
                        <p class="parrafoS2">Evaluar si hay carencias de competencias en el equipo y trabajar para
                            eliminarlas.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="p-3 d-flex">
                    <i class="fa-solid fa-people-group fs-1 pe-4 iS2"></i>
                    <div>
                        <h3>Gestión</h3>
                        <p class="parrafoS2">Mantener la motivación del equipo fomentando un entorno de
                            colaboración. Supervisar al equipo y aportar cambios para optimizar.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="p-3 d-flex">
                    <i class="fa-solid fa-user-gear fs-1 pe-4 iS2"></i>
                    <div>
                        <h3>Control</h3>
                        <p class="parrafoS2">Los recursos necesarios para la ejecución del proyecto deben estar
                            disponibles en el momento, la cantidad y el lugar adecuados.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div>Some tags before</div>
    <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>Slide 1</ng-template>  
    <ng-template carouselSlide>Slide 2</ng-template>  
    <ng-template carouselSlide>Slide 3</ng-template>  
    </owl-carousel-o>
    <div>Some tags after</div>
</section>
