
footer{
    font-family: "Nunito Sans", sans-serif;
}
.backFooter{
    background-color: #201D3C;
}
.copyright-text{
    color: #B5B5B5;
    font-size: 15px;
}
.textDecorationNoneColor1{
    text-decoration: none !important;
    color: #B5B5B5;
}
.textDecorationNoneColor1:hover {
    color: #43baff;
}
