
    <div class="contenedorFormulario">
        <div class="toggle"></div>
        <div class="formulario">
            <h2>Iniciar Seccion</h2>
            <form action="#">
                <input type="text" class="form-control" placeholder="Usuario" required>
                <input type="password" placeholder="contraseña" required>
                <input type="submit" value="Iniciar Seccion">
            </form>

        </div>
        
        <div class="reset-contraseña">
            <a href="#">Olvide contraseña</a>
        </div>
    </div>
    

